version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: todo-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: todo_db
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  server:
    build: ./server
    container_name: todo-server
    restart: always
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=rootpassword
      - DB_NAME=todo_db
    depends_on:
      - db

  client:
    build: ./client
    container_name: todo-client
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - server

volumes:
  db_data: